@import "tailwindcss";

/* *{
  border: thin solid red;
} */


/* Custom properties */
:root {
  --lg: 16px;
  ---slg: 12px;
  --md: 8px;
  --sm: 4px;
  --text-primary: #121417;
  --text-light: #6B7582;
  --border-dark: #F5F5F5;
  --accent-bg-yellow: #FFEDD2;
  --accent-yellow: #08B5A6;
  --primary-color: #08B5A6;
  --primary-dark: #066B65;
  --primary-light: #DBF5F2;
  --secondary-color: #CCFBF1;
  --background: #8C8CA1;
  --accent-danger: #08B5A6;
  --accent-danger-light: #DBF5F2;
  --font-base: 'Inter', sans-serif;
  --font-heading: "Work Sans";
  --Secondary-text-primary: #212121;
  --missed-bg: #2e2e2e;
}


body {
  font-family: var(--font-base);
}

.wkf{
  font-family: var(--font-heading);
}

.lh14{
  line-height: 140%;
}